table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
  }
  th, td {
    padding: 5px;
  }
  th {
    text-align: center;
  }
body{
    background-color: ivory;
    text-align: center;
    color: black;
    font-family: serif;
    
}