<script>
    function myFunction() {
      var myobj = document.getElementById("demo");
      myobj.remove();
    }
    </script>





<head>
  <script src="scripts/jquery-3.1.1.min.js"></script>
  <script src="scripts/bootstrap.min.js"></script>
  <link rel="stylesheet" href="Content/bootstrap.min.css" />
  <link rel="stylesheet" href="Content/bootstrap-theme.min.css" />
  </head>







  <button onclick="edit();">Update</button>
  <script>
  function edit(index)
  {
      var fname = document.getElementById("fname").value,
          lname = document.getElementById("lname").value,
          age = document.getElementById("age").value;
     if(!checkEmptyInput()){
      
    }
  }
  </script>